$black: #000;
$white: #fff;
$gray: #979797;
$dark-gray:#777;
$input-bg: #efefef;
$dark_blue: #0B394B;
$red: #FA615B;
$invalid: #D82E3A;
$green: #009604;
$orange: #FA615B;
$text-color: #343436;
$light-green: #99D749;
$dark-green: #34b86f;
$yellow: #edfc04;
$light-gray:#f6f6f6;
$header-bg:#efefef;
